@model AspNetStudents.Models.Student

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h2>Hello Student</h2>

<button type="button" class="btn btn-primary student-btn">Hello</button>
<button type="button" class="btn btn-danger sum-btn">Sum</button>
<button type="button" class="btn btn-secondary get-students-btn">Get Students</button>